# Build
.vs/
bin/
obj/

# Visual Studio
*.user
*.suo

# Environment
.env
.env.*
!.env.example

# Local configuration
appsettings.Development.json

# Logs
*.log

# Local history
HISTORY.md
*.md

# backups
ZSM.bak
